/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--Inter);
  font-variation-settings: 'wght' var(--font-weight-card-text), 'wdth' var(--font-wight-card-text);
 background-image: var(--header-gradient);
}
.header{
  margin-block-start: 100px;
  margin-block-end: 98px;
  background-color: var(--bg-color);
  border: 2px solid var(--header-border-color);
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
  text-align: center;
  font-family: var(--PressStart2P);
  font-weight: var(--header-font-weight);
}

.logo{
  font-size: var(--font-size-logo);
  margin-bottom: 18px;
  line-height: 100%;
  
}

.header__text{
  font-size: var(--font-size-header-text);
  text-transform: uppercase;
}

main{
 background-color: var(--bg-color);
}

.card{
  border: 2px solid var(--header-border-color);
  font-family: var(--Inter);
  min-height: 758px;
  margin-bottom: 52px;
  flex-direction: column;
}

.card__block__image{
  position: relative;
}

.card__title{
  padding: 4px 10px;
  line-height: 1.2;
  font-size: var(--font-size-cart);
  font-variation-settings: 'wght' var(--font-weight-card-title), 'wdth' var(--font-wight-card-text);
}

.image__logo {
  font-family: var(--PressStart2P);
  font-size: 14px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  position: absolute;
  padding-top: 27px;
  right: 27px;
  z-index: 1;
  opacity: 50%;
}

.card__content{
  line-height: 21px;
  padding: var(--padding-card-text);
  font-size: var(--font-size-cart);
  font-variation-settings: 'wght' var(--font-weight-card-text), 'wdth' var(--font-wight-card-text);
}

.card__content p:not(:last-child) {
  margin-bottom: 25px;
}

.card__content__text{
  padding-left: 4px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--button-border-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--button-text-color);
}

.card__button {
  display: flex;
  margin-right: 25px;
  justify-content: end;
}

.button {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px;
  padding: 12px 35px;
  border: 2px solid var(--button-border-color);
  background: var(--button-background-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--button-fill-color);
  transition: width 0.5s ease-in-out;
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button__text {
  font-size: var(--button-size);
  color: var(--button-background-color);
  font-family: var(--PressStart2P), fantasy;
  mix-blend-mode: difference;
}

.button:hover .button__text {
  color: var(--button-background-color);
}

.button svg {
  stroke: white;
  mix-blend-mode: difference;
}

.button:hover svg {
  color: var(--button-background-color);
}

.card:nth-child(2){
  padding-bottom: 21px;
  margin-bottom: 50px;

 .card__content{
  padding-top: 20px;
 }
}

.card:nth-child(3){
  min-height: 735px;
}

.card:nth-child(4){
  min-height: 799px;
  margin-bottom: 50px;
}

.card:nth-child(5){
  min-height: 840px;
}

.card:nth-child(6){
  min-height: 713px;

  .card__content{
    padding-top: 20px;
  }
}

.card:nth-child(7){
  min-height: 776px;
  .card__content{
    padding-top: 20px;
  }
}

.card:nth-child(8){
  min-height: 860px;
  .card__content{
    padding-top: 20px;
  }
}

.save {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.button__icon{
  width: 28px;
  height: 28px;
}

.save__button {
  display: flex;
  flex-direction: column;
  min-height: 55px;
  gap: 8px;
  padding: 15px 19px;
}

.dialog[open] {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  min-width: 341px;
  padding-block: 30px;
  padding-inline: clamp(30px, calc(43.52px - 0.939vw), 40px);
  position: fixed;
  background-color: var(--bg-color);
  border: 2px solid var(--color);
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--color);
}

.dialog__title {
  display: flex;
  font-family: var(--PressStart2P), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__container {
  display: grid;
  gap: 30px;
}

.dialog__button {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  min-height: 38px;
  padding: 0px 0px;
}

.dialog__message {
  display: flex;
  font-family: var(--PressStart2P), fantasy;
  font-size: 14px;
  line-height: 150%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__message svg {
  width: 39px;
  height: 39px;
  inline-size: 80px;
}

.filter__sepia{
  filter: sepia(1);
}

.filter__grayscale{
  filter: grayscale(1);
}

.filter__contrast{
  filter: contrast(1.5);
}

.filter__blur{
  filter: blur(3px);
}

.filter__brightness{
 filter: brightness(1.3);
}

.filter__saturate{
  filter: saturate(2);
}

.filter__hue-rotate{
  filter: hue-rotate(90deg) saturate(1.5);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image__logo {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
      text-shadow: none;
    }
  }


  .card__icon-button {
  display: flex;
  background: transparent;
  color: var(--color);
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

@supports (mix-blend-mode: difference) {
  .button .button__text {
    transition: none;
  }
}

@media (width >= 376px){
  .page{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  main{
    background-color: transparent;
  }

  .header{
    margin-block-start: 100px;
    margin-block-end: 97px;
    min-width: 700px;
    padding-bottom: 130px;
  }

  .header__content{
    padding-top: 6px;
  }

  .logo{
    font-size: 65px;
  }

  .card{
    background-color: var(--bg-color);
    max-width: 700px;
  }

  .card__image{
    width: 696px;
    height: 700px;
  }

  .image__logo{
    top: 25px;
    right: 25px;
  }

.card:nth-child(1){
  min-height: 954px;
  .card__content{
    padding-top: 20px;
  }
}

.card:nth-child(3){
  min-height: 956px;
}

.card:nth-child(4){
  min-height: 998px;
  margin-bottom: 50px;
}

.card:nth-child(5){
  min-height: 1019px;
}

.card:nth-child(6){
  min-height: 955px;
  margin-bottom: 50px;

  .card__content{
    padding-top: 20px;
  }
}

.card:nth-child(7){
  min-height: 998px;
  .card__content{
    padding-top: 20px;
  }
}

.card:nth-child(8){
  min-height: 1040px;
  margin-bottom: 50px;
  .card__content{
    padding-top: 20px;
  }
}

  .header__text {
    font-size: var(--font-size-header-text);
  }

  .save__button {
    height: 55px;
    width: 335px;
  }

  .button__icon {
    width: 21px;
    height: 21px;
  }

  .dialog__icon {
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
    padding: 30px 40px;
  }

  .dialog__message svg {
    width: 39px;
    height: 39px;
    inline-size: 90px;
  }
}