/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root{
    --bg-color: #fff;
    --header-border-color: #000;
    --color: #000;
    --Inter: 'Inter-Variable', monospace, sans-serif;
    --PressStart2P: 'PressStart2P-Regular', fantasy;
    --header-font-weight:400;
    --font-weight-card-text: 410;
    --font-wight-card-text:100;
    --font-weight-card-title: 715;
    --font-size-cart:18px;
    --padding-card-text:23px;
    --header-gradient: repeating-linear-gradient(90deg,#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg,#d3d3d3 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(180deg,#e7e7e7 0.01%, #1a1a1a );
    --font-size-logo: clamp(49px, 4.5vw , 65px);
    --header-padding: clamp(122px, 5.5rem + 1.91vw, 130px);
    --font-size-header-text:clamp(14px, 1.5972vw, 23px);

    --button-border-color: #000;
    --button-text-color: #000;
    --button-background-color:#fff;
    --button-fill-color: #000;
    --button-size:14px;

    --heart-contour-color: black;
    --heart-sparks-color: red;
    --time_step: 0.3s;
}
